shell_escape_commands = \
bibtex,bibtex8,\
extractbb,\
gregorio,\
kpsewhich,\
l3sys-query,\
makeindex,\
memoize-extract.pl,\
memoize-extract.py,\
./memoize-extract.lua,\
repstopdf,\
r-mpost,\
texosquery-jre8
